div {
	width: 200px;
	height: 200px;
	background-color: rgba(0, 0, 0, 1);
	margin: 20px;

}
.box1 {
	background-color: rgba(0, 0, 0, 0.8);
}
.box2 {
	background-color: rgba(0, 0, 0, 0.6);
}
.box3 {
	background-color: rgba(0, 0, 0, 0.4);
}
.box4 {
	background-color: rgba(0, 0, 0, 0.2);
}
body {
	background-color: #f5f5dd;
}